@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

html, body {
    height: 100%;
}
body {
    color: #000;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}